{% extends 'base.html' %}

{% block bodyblock %}

    <div class="container">
        <br><br>
        <h3 class="content">Welcome to <span style="color:#198b90">freeAI.s p a c e </span></h3>
        <br><br>
        <p class="content">
            FreeAI is a Data Driven company. We're a team of engineers, machine learning experts and more, working together to advance the state of the art in artificial intelligence. We use our technologies for widespread public benefit, and collaboration with others on critical challenges.
        </p>
    </div>

{% endblock  %}


